*build
src/externals
src/frontend/tests
src/tests
.vs
.vscode
*libtorch
*DS_Store*
src/docs
dist/
*.egg-info*

env

externals
support
extensions

tests
*.o
*.dylib

tmp
.DS_Store

build

miniconda.sh

pretrained_models

src/package-info.json
src/pd_include
src/support

vcpkg
help


