[submodule "min-api-360af42"]
	path = src/frontend/maxmsp/min-api
	url = https://github.com/jasper-zheng/min-api.git
[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json.git
